# Your own copy of the game, and anything derived from it. Nothing of Popcorn
# is redistributed here - the program is the property of its authors, and the
# port reads their data out of your copy at run time rather than carrying any
# of it.
*.hsc
*.bat

# Build output.
*.o
popcorn
popcorn-dev
